<div class="cards-container">
  <p-card header="Boss Timer">
    <div class="canal-container">
      <div *ngFor="let canal of canais; let i = index" class="canal-item" [ngClass]="{
        'timer-running': canal.timer,
        'timer-finished': !canal.timer && canal.timerDisplay === 0
      }">
        <label class="canal-label" aria-label="Age">{{'Channel ' + (i + 1)}}</label>
        <p-button label="Normal" class="btn-normal" (click)="startTimer(i, 5)"></p-button>
        <p-button label="Mutated" (click)="startTimer(i, 8)" class="mutated-btn"></p-button>
        <i *ngIf="canais[i].timerDisplay" class="pi pi-clock"></i>
        <p-button label="Reset" class="btn-reset" (click)="resetTimer(i)"></p-button>
      </div>
    </div>
  </p-card>

  <p-card *ngIf="isAnyTimerRunning" class="upcoming-spawns-card">
    <div class="spawn-list">
      <div *ngFor="let canal of sortedChannels" class="spawn-item">
        <p-button label="Channel {{ canal.index + 1 }} - {{ formatTime(canal.timerDisplay) }}"
                  class="spawn-button" 
                  icon="pi pi-sign-in"
                  [disabled]="true">
        </p-button>
      </div>
    </div>
  </p-card>
  
  
</div>
<div class="footer-container">
  <p-button icon="pi pi-info-circle" class="btn-info" label="How to Use" (click)="openGuideDialog()"></p-button>
  <span class="copyright">&copy; gabopedrosa</span>
</div>

