/* Import PrimeNG Theme */
@import "~primeng/resources/themes/saga-blue/theme.css";

/* Import PrimeNG Core Styles */
@import "~primeng/resources/primeng.min.css";

/* Import PrimeIcons for Icons */
@import "~primeicons/primeicons.css";

/* Your custom styles below */
.btn-normal .p-button {
    background-color: white !important; 
    color: black !important;         
}

.btn-normal .p-button:hover {
    background-color: #f0f0f0 !important;
}
.btn-reset .p-button {
    background-color: blanchedalmond !important; 
    color: black !important;         
}

.btn-reset .p-button:hover {
    background-color: #f0f0f0 !important;
}
.btn-info .p-button {
    margin-top: 13px;
    gap: 5px;
    margin-right: 7px;
    background-color: orange !important; 
    color: black !important;
}

.btn-info.p-button:hover {
    background-color: #f0f0f0 !important;

}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-image: url('assets/14042.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20px 20px 50%;
  height: 100vh;
  margin: 0;
}

  

