/* Import PrimeNG Theme */
@import "~primeng/resources/themes/saga-blue/theme.css"; /* You can change saga-blue to another theme */

/* Import PrimeNG Core Styles */
@import "~primeng/resources/primeng.min.css";

/* Import PrimeIcons for Icons */
@import "~primeicons/primeicons.css";

/* Your custom styles below */
.btn-normal .p-button {
    background-color: white !important; 
    color: black !important;         
}

.btn-normal .p-button:hover {
    background-color: #f0f0f0 !important;
}
.btn-reset .p-button {
    background-color: blanchedalmond !important; 
    color: black !important;         
}

.btn-reset .p-button:hover {
    background-color: #f0f0f0 !important;
}
.btn-info .p-button {
    background-color: orange !important; 
    color: black !important;
}

.btn-info.p-button:hover {
    background-color: #f0f0f0 !important;

}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;     /* centers horizontally */
    justify-content: center; /* centers vertically */
  }
  

